@import "@/styles/variables.module.scss";

.product-archive {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__archive {
        grid-column: 2/5;
    }

    &__nav-wrap {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.product-archive__video{
    iframe{
        width:100%;
        height: 450px;
        margin:0 0 20px;
    }
}

@media (max-width: 768px) {
    .product-archive {
        &__container {
            display: block;
        }

        &__archive {
            grid-column: auto;
        }

        &__sidebar {
            display: none;
        }
    }

    .product-archive__video{
    iframe{
        width:100%;
        height: 250px;
        margin:0 0 15px;
    }
}
}