@import "@/styles/variables.module.scss";

.address-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;

    a {
        text-decoration: none;
    }

    &__island {
        box-sizing: border-box;
        font-size: 0.9rem;
        padding: 1em 1.5em;
        border-radius: 10px;
        border: 2px solid $white-lilac;
    }

    &__header {
        margin-bottom: 1em;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        font-weight: 500;

        &-icon {
            margin-right: 0.3em;
        }
    }

    &__row {
        padding: 0.6em 0;
        display: flex;
        justify-content: space-between;
    }

    &__label {
        color: $text-gray;
        width: 150px;
    }

    &__value {
        text-align: right;
    }
}

@media(max-width: 1024px) {
    .address-details {
        grid-template-columns: 1fr;

        &__island {
            padding: 1em;
        }
    }
}