@import "@/styles/variables.module.scss";

.CartSummary {
    padding: 1.5em;
    border: 2px solid $white-lilac;
    border-radius: 10px;

    &__title {
        padding-bottom: 0.9em;
        margin-bottom: 0.9em;
        border-bottom: 2px solid $white-lilac;
    }

    &__btnWrapper {
        display: grid;
        gap: 0.9em;
    }

    &__btn {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .CartSummary {
        padding: 1em;

        &__btnWrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__btn {
            &:first-child {
                order: 1;
            }
        }
    }
}

@media(max-width: 768px) {
    .CartSummary {
        &__btnWrapper {
            grid-template-columns: 1fr;
        }

        &__btn {
            &:first-child {
                order: 0;
            }
        }
    }
}