@import "@/styles/variables.module.scss";

.CartSummary {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid $white-lilac;
    border-radius: 10px;
    height: fit-content;

    &__title {
        padding: 0.6em 1.5em;
        padding-top: 0;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__btnWrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__btn {
        display: inline-block;
        height: fit-content;
        width: 100%;
        max-width: 252px;
        text-align: center;
    }
}

@media(max-width: 1024px) {
    .CartSummary {
        padding: 30px 35px;

        &__title {
            font-size: 16px;
        }

        &__list {
            margin-bottom: 100px;

            li {
                &:last-child {
                    .CartSummary__row {

                        h3,
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media(max-width: 768px) {
    .CartSummary {
        padding: 20px 15px;

        &__list {
            margin-bottom: 20px;

            li {
                &:last-child {
                    .CartSummary__row {

                        h3,
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;

            h3,
            span {
                font-size: 14px;
            }
        }
    }
}