.Cart {
    &__top {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
        gap: 40px;
    }

    &__notification {
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width: 1200px) {
    .Cart {
        &__content {
            gap: 20px;
        }
    }
}

@media(max-width: 1024px) {
    .Cart {
        &__content {
            gap: 40px;
            grid-template-columns: 1fr;
        }
    }
}