.Cart {
    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }
}

@media(max-width: 1024px) {
    .Cart {
        &__content {
            display: flex;
            flex-direction: column;
        }
    }
}