.colorSwiper {
    padding: 0 25px;
    position: relative;
    max-width: 290px;

    &__slide {
        width: fit-content;
    }

    &__slide div {
        margin: 0 auto;
        padding: 1px 0;
        width: 25px;
        height: 25px;
    }

    &__nextBtn::after,
    &__prevBtn::after {
        color: black;
        font-size: 12px;
        font-weight: 600;
    }

    &__nextBtn {
        right: 0;
    }

    &__prevBtn {
        left: 0;
    }
}