@import "@/styles/variables.module.scss";

.mobile-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__content {
        margin-bottom: 20px;
    }

    &__subtotal {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        font-size: 1.2rem;

        &-price {
            font-weight: 600;
        }
    }

    &__buttons {
        margin-bottom: 20px;
    }
}