@import "@/styles/variables.module.scss";

.accordion {
	max-width: 630px;
	border: 1px solid $input-light;
	border-radius: 10px !important;
	padding-block: 14px;
	padding-inline: 35px;
	box-shadow: none;
	margin: 0 !important;

	@media screen and (max-width: 1024px) {
		max-width: unset;
		padding-inline: 20px;
		padding-block: 4px;
	}


	@media screen and (max-width: 768px) {
		padding-inline: 10px;
	}

	&::before {
		display: none;
	}

	&__opis {
		padding: 0;
		
		min-height: 52px !important;
		& > div {
			min-height: 0;
			margin: 12px 0 !important;
		}		

		span {
			font-weight: 500;
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
			color: $black-color;
			letter-spacing: 0;
		}
	}
	&__description{
		padding: 16px 0;
		p {
			font-weight: 400;
			font-size: 18px;
			color: $black-color;
			letter-spacing: 0;
		}
	}
	&__details {
		padding: 0;
	}
	&__item {
		display: flex;
		margin-bottom: 10px;
	}
	&__name {
		width: 100%;
		text-transform: uppercase;
		max-width: 150px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		padding: 8px 0 9px;
		border-bottom: 1px solid $input-light;
	}
	&__value {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0;
		padding: 8px 0 9px;
		border-bottom: 1px solid $input-light;
		& span {
			display: inline-block;
			margin-right: 4px;
		}
		& span:first-letter {
			text-transform: uppercase;
		}
	}
}