@import './variables.module';

.desc {
    font-weight: 400;
    font-size: 18px;
    color: $black-color;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    transition: .2s color ease-in-out;
}

.nav-link:hover {
    color: $accent;
}

.nav-link:active {
    color: $black-color;
}

.nav-link:focus-visible {
    outline: 2px solid $accent;
    outline-offset: 10px;
}

.more-link {
    font-size: 18px;
    color: $text-gray;
    transition: color .3s ease-in-out;
}

.more-link:focus-visible {
    outline-color: $accent;
    outline-offset: 10px;
}

.more-link:hover {
    color: $black-color;
}

.more-link:active {
    color: $text-gray;
}

.sub-title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: $black-color;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.date {
    color: $dusty-gray;
}

.btn {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.btn-primary,
.btn-transparent {
    padding: 12px 18px;
    border-radius: 10px;
    transition: background .2s ease-in-out;
}

.btn-primary {
    background: $accent;
}

.btn-primary:hover {
    background: $accent-hover;
}

.btn-primary:active {
    background: $accent;
}

.btn-transparent {
    border: 1px solid $black-color;
    background: transparent;
}

.btn-transparent:hover {
    background: $input-darker;
}

.btn-transparent:active {
    background: $gray;
}

.btn-secondary {
    background: transparent;
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid $black-color;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary.active {
    background: $accent-hover;
    border-color: transparent;
}

.cart-item-quty {

    &__x {
        margin: 0 0.3em;
    }

}

@media(max-width: 1024px) {

    .desc,
    .sub-title {
        font-size: 16px;
    }

    .more-link {
        font-size: 16px;
    }
}


@media(max-width: 768) {

    .desc,
    .sub-title {
        font-size: 14px;
    }

    .more-link {
        font-size: 14px;
    }
}