@import './variables.module';

.desc {
    font-weight: 400;
    font-size: 18px;
    color: $black-color;
}

.link {
    text-decoration: none;
    color: inherit;
}

.more-link {
    color: $text-grey;
}

.sub-title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: $black-color;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.date {
    color: $dusty-gray;
}

.btn {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer
}

@media(max-width: 768px) {

    .desc,
    .sub-title {
        font-size: 14px;
    }
}