@import './variables.module';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-card-slider {

    .swiper-button-prev {
        left: -10px;
        color: $text-gray;
        transform: scaleX(0.25) scaleY(0.40);
    }

    .swiper-button-next {
        right: -10px;
        color: $text-gray;
        transform: scaleX(0.25) scaleY(0.40);
    }
}

.size-picks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.size-pick {

    &__input {
        display: none;
    }

    &__island {
        font-size: 0.9rem;
        display: inline-flex;
        cursor: pointer;
        background-color: $input-light;
        padding: 0.3em 0.3em;
        border-radius: 5px;
        transition: .2s ease;

        &:hover {
            background-color: $input-darker;
        }

        input:disabled+& {
            opacity: 0.3;
            cursor: default;
        }

        input:checked+& {
            cursor: default;
            background-color: $white;
            outline: 1px solid $accent;
            box-shadow: $accent 0 0 5px;
            box-sizing: border-box;
        }
    }
}

.desc {
    font-weight: 400;
    font-size: 18px;
    color: $black-color;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    transition: .2s color ease-in-out;
}

.nav-link:hover {
    color: $accent;
}

.nav-link:active {
    color: $black-color;
}

.nav-link:focus-visible {
    outline: 2px solid $accent;
    outline-offset: 10px;
}

.more-link {
    font-size: 18px;
    color: $text-gray;
    transition: color .3s ease-in-out;
}

.more-link:focus-visible {
    outline-color: $accent;
    outline-offset: 10px;
}

.more-link:hover {
    color: $black-color;
}

.more-link:active {
    color: $text-gray;
}

.main-title {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    color: $black-color;
    text-transform: uppercase;
}

.sub-title {
    @extend .main-title;
    font-size: 20px;
    text-transform: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.date {
    color: $dusty-gray;
}

.btn {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.btn-primary,
.btn-transparent {
    height: fit-content;
    padding: 13px 18px;
    border-radius: 10px;
    transition: background .2s ease-in-out;
}

.btn-primary {
    background: $accent;
}

.btn-primary:hover {
    background: $accent-hover;
}

.btn-primary:active {
    background: $accent;
}

.btn-transparent {
    border: 1px solid $black-color;
    background: transparent;
}

.btn-transparent:hover {
    background: $input-darker;
}

.btn-transparent:active {
    background: $gray;
}

.btn-secondary {
    background: transparent;
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid $black-color;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary.active {
    background: $accent-hover;
    border-color: transparent;
}

.cart-item-quty {

    &__x {
        margin: 0 0.3em;
    }

}

.product-page-h3 {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1em;
}

.price {
    &__tax {
        color: $text-gray;
    }
}

.page-top {
    padding: 40px 0;

    &_center {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__titling {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
    }

    &__title {
        font-size: 1.15em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 600;
    }

    &__count {
        margin-top: -1px;
        margin-left: 0.6em;
        background-color: $input-light;
    }
}

.text-center {
    text-align: center;
}

.text-gray {
    color: $text-gray;
}

@media(max-width: 1024px) {

    .desc,
    .sub-title {
        font-size: 16px;
    }

    .more-link {
        font-size: 16px;
    }
}


@media(max-width: 768px) {

    .desc,
    .sub-title {
        font-size: 14px;
    }

    .more-link {
        font-size: 14px;
    }

    .page-top {
        padding: 25px 0;

        &__titling {
            margin-top: 25px;
        }

        &__count {
            margin-top: -4px;
        }
    }
}