@import 'reset';
@import 'fonts';
@import 'globals';
@import './variables.module';
@import './swiperLib';
@import './TopProductSlider';

html,
body {
    font-size: 18px;
    font-family: sans-serif;
    color: $black-color;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $tech-bg $background-white;
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 14px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1360px;

    &_bread {
        padding-top: 40px;
    }
}

.section {
    padding-bottom: 100px;
}

.slider {
    padding: 30px 0;
}

.features {
    padding-top: 20px;
    padding-bottom: 70px;
}

.tabs,
.topseller {
    padding: 50px;
    background-color: $white-lilac;
}

@media(max-width: 1024px) {
    .container {
        padding: 0 20px;

        &_bread {
            padding-top: 30px;
        }
    }

    .section {
        padding-bottom: 80px;
    }

    .features {
        padding-bottom: 40px;
    }
}

@media(max-width: 768px) {
    .section {
        padding-bottom: 40px;
    }

    .slider {
        padding: 15px 0;
    }

    .features {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}