@import 'reset';
@import 'fonts';
@import 'globals';
@import './variables.module';
@import './swiperLib';
@import './TopProductSlider';
html,
body {
    font-size: 18px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $tech-bg $background-white;
}