@import 'reset';
@import 'fonts';
@import 'globals';
@import './variables.module';
@import './swiperLib';
@import './TopProductSlider';

html,
body {
    font-size: 18px;
    font-family: sans-serif;
    color: $black-color;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $tech-bg $background-white;
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 14px;
    }
}

.features {
    padding-top: 50px;
}

// .section.categories {
//     padding-bottom: 100px;
// }

.section {
    padding: 50px 30px;
}

.slider.section {
    padding-bottom: 0;
}

.topseller {
    background-color: #f6f8fc;
}

.topseller.section {
    padding-top: 35px;
}

@media(max-width: 1024px) {
    .section {
        padding: 20px 15px;
    }

    .topseller.section {
        padding-top: 20px;
    }

    .topseller-wrapper {
        flex-direction: column;
    }

}