$black-color: #000;
$white-lilac: #f6f8fc;
$input-light: #EBF0F3;
$input-darker: #E4E9ED;
$background-white: #FEFEFE;
$accent: #FECB00;
$darker: rgba(0, 0, 0, .15);

:export {
    blackColor: $black-color;
    whiteLilac: $white-lilac;
    inputLight: $input-light;
    inputDarker: $input-darker;
    backgroundWhite: $background-white;
    accent: $accent;
    darker: $darker;
}