@import "@/styles/variables.module.scss";

.product__info {
	padding: 48px 0 80px;
	@media screen and (max-width: 1024px) {
		padding: 35px 0 79px;
	}
	@media screen and (max-width: 768px) {
		padding: 18px 0 88px;
	}
}