@import '@/styles/variables.module.scss';

.wrapper {
	max-width: 744px;
	width: 100%;
	padding: 0 12px 93px;
	margin: 0 auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 14px;
	border-top: 1px solid $input-light;
	&__block {
		display: inline-flex;
		flex-direction: column;
		grid-gap: 20px;
		& a {
			color: grey;
		}
		&:first-child {
			justify-content: flex-start;
			flex-basis: 40%;
		}
		&:last-child {
			justify-content: flex-end;
			text-align: right;
			flex-basis: 40%;
		}
	}
}
