@import "@/styles/variables.module.scss";

.cartTable {
    font-size: 0.9rem;
    border: 2px solid $white-lilac;
    border-radius: 10px;
    overflow: hidden;

    &__row {
        border-bottom: 2px solid $white-lilac;
        display: grid;
        gap: 1em;
        padding: 0.8em;
        grid-template-columns: 300px 1fr 1fr 1fr;

        &_head {
            background-color: $white-lilac;
            height: 70px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__cell {
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;

        &Key {
            display: none;
            color: $text-gray;
        }
    }


    &__skeleton {
        width: 100%;
        height: 150px;
    }
}

.cartItem {
    display: flex;
    align-items: center;
    gap: 1em;

    &__image {
        object-fit: contain;
        object-position: center;
    }

    &__title {
        color: $text-gray;
    }
}

@media(max-width: 1200px) {
    .cartTable {
        &__row {
            grid-template-columns: 250px 1fr 1fr 1fr;
        }
    }
}

@media(max-width: 600px) {
    .cartTable {
        overflow: visible;
        border: none;
        font-size: 1rem;

        &__tableBody {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        &__row {
            grid-template-columns: 1fr;
            border: 2px solid $white-lilac;
            border-radius: 10px;

            &:last-child {
                border-bottom: 2px solid $white-lilac;
            }

            &_head {
                display: none;
            }
        }

        &__cell {
            display: flex;
            justify-content: space-between;

            &_counter {
                justify-self: center;
            }

            &Key {
                display: inline-block;
            }
        }


        .cartItem {
            display: grid;
            grid-template-columns: auto 1fr auto;

            &__delete {
                align-self: flex-start;
                order: 2;
            }
        }
    }
}