@import '@/styles/variables.module.scss';

.counter {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        font-size: 20px;
        flex-grow: 1;
        cursor: pointer;
    }

    &__window {
        padding: 6px;
        flex-grow: 2;
        border-radius: 5px;
        background-color: $white-lilac;
    }
}