@import '@/styles/variables.module.scss';

.counter {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__window {
        min-width: 70px;
        border: none;
        border-radius: 5px;
        background-color: $white-lilac;

        input {
            padding: 0;
            text-align: center;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    &__window::after {
        display: none;
    }

    &__window::before {
        display: none;
    }
}