@import '@/styles/variables.module.scss';

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
}

.overlayVisible {
    background-color: rgba(0, 0, 0, 0.5);
}

.categories {
    position: absolute;
    top: 139px;
    z-index: 11;
    display: flex;
    height: 70vh;
    border-radius: 0 0px 10px 0;

    transition: .4s transform ease-in-out;
    transform: translateX(-105%);
    background-color: $bg-accent;

    &__list-wrapper {
        padding: 20px 40px;
        overflow-y: auto;
        transition: opacity .3s ease-in-out;
    }

    &__list {
        margin: 0;
        padding-inline-start: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: opacity .3s ease-in-out;
    }

    li {
        display: flex;
        width: fit-content;

        a {
            padding: 13px 10px;
            border-radius: 10px;
            transition: .2s background-color ease-in-out;
        }

        a:hover {
            background-color: $hover-cat-menu;
        }
    }
}

.hidden {
    opacity: 0;
    display: none
}

.visible {
    opacity: 1;
    display: block;
}

.active {
    transform: translateX(0%);
}

.activeCategory {
    a {
        background-color: $hover-cat-menu;
    }
}