@import "@/styles/variables.module.scss";

.cartItem {
    display: flex;
    align-items: center;
    gap: 20px;

    &__title {
        max-width: 50%;
        max-width: 200px;

        h3 {
            opacity: 0.5;
        }
    }
}

.CartTable {
    margin: 0 auto;
    width: 100%;

    &__row {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        gap: 16px;

        &_head {
            background-color: $white-lilac;
        }
    }

    &__cell {
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 13px;
        text-align: center;
    }
}

@media(max-width: 1200px) {
    .CartTable {
        margin-bottom: 30px;

        &__row {
            padding: 15px 20px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            gap: 16px;

            &_head {
                background-color: $white-lilac;
            }
        }
    }
}

@media(max-width: 876px) {
    .CartTable {
        &__tableBody {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__row {
            margin: 0 auto;
            padding: 15px 20px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 0;
            border: 1px solid $input-light;
            border-radius: 10px;

            &_head {
                display: none;
            }
        }
    }

    .cartItem {
        &__delete {
            order: 2;
        }
    }
}