@import "@/styles/variables.module.scss";

.forNav {
	align-items: center !important;	

	&__nextBtn,
	&__prevBtn {
		width: 48px;
		height: 48px;

		@media screen and (max-width: 768px) {
			display: none;
		}

		& svg {
			width: 20px;
			height: 20px;
		}
	}

	&__nextBtn {
		right: -12px;
	}

	&__prevBtn {
		left: -12px;
	}

	&__nextBtn:after,
	&__prevBtn:after {
		font-size: 0;
	}
}

.slide {
	text-align: center;
	align-self: center;

	&__btn {
		border: none;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		cursor: pointer;
	}

	&__img {
		width: 88%;
		max-width: 600px;
		height: auto;
	}
}

.nav {
	&__nextBtn,
	&__prevBtn {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50% !important;
		display: none;

		@media screen and (max-width: 768px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& svg {
			width: 12px;
			height: 12px;
		}
	}

	&__nextBtn {
		right: 0;
		top: 60% !important;
	}

	&__prevBtn {
		left: 0;
		top: 60% !important;
	}

	&__nextBtn:after,
	&__prevBtn:after {
		font-size: 0;
	}
}

.wrapper {
	margin-top: 20px;
	margin: 0 auto;
	max-width: 404px;
	overflow: hidden;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1024px) {
		max-width: 282px;
	}

	@media screen and (max-width: 768px) {
		max-width: 300px;
		padding-inline: 24px;
		position: relative;
	}

	& .swiper-button-prev.swiper-button-disabled,
	& .swiper-button-next.swiper-button-disabled {
		opacity: 1;
		pointer-events: auto;
	}

	& .swiper-button-disabled svg path {
		fill: #070505 !important;
	}
}

.navSlide {
	text-align: center;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
		cursor: pointer;
	}
}