@import "@/styles/variables.module.scss";
.forNav {
	&__nextBtn,
	&__prevBtn {
		width: 48px;
		height: 48px;
	}
	&__nextBtn {
		right: 12px;
	}
	&__prevBtn {
		left: 12px;
	}
	&__nextBtn:after,
	&__prevBtn:after {
		font-size: 0;
	}
}
.slide {
	text-align: center;
	&__img {
		max-width: 630px;
		width: 100%;
		height: auto;
	}
}
.nav {
	padding-top: 20px;
}
.navSlide {
	text-align: center;
	&__img {
		max-width: 110px;
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
}