@import "@/styles/variables.module.scss";

.product {
	padding-top: 65px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;

	@media screen and (max-width: 1024px) {
		padding-top: 49px;
	}

	@media screen and (max-width: 768px) {
		padding-top: 41px;
		flex-direction: column;
		grid-gap: 27px;
	}

	&__slider {
		// flex: 0 1 50%;
		// width: 50%;
		overflow: hidden;

		@media screen and (max-width: 768px) {
			width: 100%;
			// flex: 0 1 100%;
		}
	}
}

.product-info {
	flex: 0 1 50%;
	width: 50%;
	max-width: 630px;

	@media screen and (max-width: 768px) {
		width: 100%;
		flex: 0 1 100%;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 120%;
		text-transform: uppercase;
		color: $black-color;
		margin-bottom: 11px;
	}

	&__sku {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: $text-gray;
		margin-bottom: 23px;
	}

	&__price {
		font-weight: 400;
		font-size: 18px;
		color: $graphite;
		margin-bottom: 22px;

		&_vat {
			color: $text-gray;
		}
	}

	&__accordionWrapper {
		margin-bottom: 40px;
	}
}

.price-wrapper {
	margin: 23px 0 21px;
}

.color-wrapper {
	margin-bottom: 39px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 26px;
	}

	& h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

.size-wrapper {
	margin-bottom: 46px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 26px;
	}

	& h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

.delivery-wrapper {
	margin-bottom: 36px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 35px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 16px;
	}

	& h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

@media(max-width: 1024px) {
	.product {
		padding-top: 50px;
		grid-template-columns: 1fr;
	}
}

@media(max-width: 768px) {
	.product {
		padding-top: 40px;
		flex-direction: column;
		grid-gap: 30px;
	}
}