@import "@/styles/variables.module.scss";

.product {
	margin-bottom: 140px;
	padding-top: 65px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 60px;
		padding-top: 49px;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		padding-top: 41px;
		flex-direction: column;
		grid-gap: 16px;
	}

	&__slider {
		overflow: hidden;
		grid-column: span 6;

		@media screen and (max-width: 1024px) {
			grid-column: span 5;
		}

		@media screen and (max-width: 768px) {
			grid-column: 1 / -1;
			margin-bottom: 11px;
		}
	}

	&__info {
		grid-column: span 6;

		@media screen and (max-width: 1024px) {
			grid-column: span 7;
		}

		@media screen and (max-width: 768px) {
			grid-column: 1 / -1;
		}
	}
}

.product-info {
	flex: 0 1 50%;
	width: 50%;
	max-width: 630px;

	@media screen and (max-width: 768px) {
		width: 100%;
		flex: 0 1 100%;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 120%;
		text-transform: uppercase;
		color: $black-color;
		margin-bottom: 11px;
	}

	&__sku {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: $text-gray;
		margin-bottom: 23px;
	}

	&__island {
		margin-bottom: 2rem;

		& h3 {
			margin-bottom: 20px;

			@media screen and (max-width: 768px) {
				margin-bottom: 16px;
			}
		}
	}

	&__stock {

		&-dot {
			display: inline-block;
			background: $text-gray;
			width: 0.75em;
			height: 0.75em;
			border-radius: 50%;

			&_active {
				background: #01a900;
			}
		}
	}

	&__price {
		font-weight: 400;
		font-size: 18px;
		color: $graphite;
		margin-bottom: 22px;

		@media screen and (max-width: 768px) {
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	&__accordionWrapper {
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@media screen and (max-width: 1024px) {
			row-gap: 25px;
		}
	}
}

.price-wrapper {
	margin: 23px 0 21px;

	@media screen and (max-width: 768px) {
		margin: 0;
	}
}

.color-wrapper {
	margin-bottom: 20px;

	& h3 {
		margin-bottom: 15px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

.size-wrapper {
	margin-bottom: 46px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 26px;
	}

	& h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

.delivery-wrapper {
	margin-bottom: 36px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 35px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 16px;
	}

	& h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}
}
