@import "@/styles/variables.module.scss";

.product-category {
    padding: 40px 0;

    &__titling {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
    }

    &__title {
        font-size: 1.15em;
        text-transform: uppercase;
        margin: 0 0.6em 0 0;
    }

    &__count {
        margin-top: -1px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__archive {
        grid-column: 2/5;
    }
}